<div class="login">
    <div class="container" id="container">
        
        <form [formGroup]="loginform" (ngSubmit)="login(loginform.value)">
            <h2>Login</h2>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
            </div>
            <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary">Submit</button>
            <br>
            <div class="">
                <p>Don't have an account ?</p>
                <!-- <p>{{signupform.value | json}} {{signupform.status | json}}  {{formErrors.username}} {{formErrors.name}} {{formErrors.email}} {{formErrors.password}} </p> -->
                <a [routerLink]="[ '/signup']"><button class="btn btn-info">SignUp</button></a>
            </div>  
        
        </form>

        </div>
    </div>
        